/* Inserta tu codigo aqui */
.titulo h1 {
	color: #1A2A52;
	margin: 40px 0px;
}
.titulo a {
	text-decoration: none;
	color: #B9BABA;
	padding: 0px 40px;
}
nav {
	margin-bottom: 30px;
}

.bg-plomo {
	background-color: rgb(220,221,224);
	padding: 38px;
}
.bg-plomo a {
	text-decoration: none;
	color: white;
	padding:10px 90px;
	background-color: #192951;
}

h4 {
	padding:10px 0px;
 	font-style: italic;
 	color: rgb(209,210,213);
}
.second-img1 {
    background-image: url(../img/blog1.jpg);
    background-size: cover;
    background-position-x: 8px;
    background-repeat: no-repeat;
} 
.second-img2 {
    background-image: url(../img/profesor_5.jpg);
    background-size: cover;
    background-position-x: -54px;
    background-repeat: no-repeat;
} 
.second-img3 {
    background-image: url(../img/instructor_1.jpg);
    background-size: cover;
    background-position-x: -75px;
    background-repeat: no-repeat;
}
.shoes {
	background-repeat: no-repeat;
	background-image: url(../img/shoes_1.jpg);
	height: 500px;
	background-position: right;
	padding-top:50px;
}
input {
	margin-top: 20px;
	border: 2px solid #F1F0F0;
	width: 500px;
    height: 40px;
    font-family: arial;
    padding-left: 50px;
}
textarea {
	margin-top: 20px;
	border: 2px solid #F1F0F0;
	width: 500px;
    height: 150px;
    font-family: arial;
    margin-bottom: 50px;
    padding-left: 50px;
}
.shoes a {
	text-decoration: none;
	color: white;
	padding:10px 250px;
	background-color: #192951;
}
.shoes h2 {
	color: #192951;
	font-weight: bold;
}
#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 40px;
	background-repeat: no-repeat;
}
#email {
	background-image: url(
http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 40px;
	background-repeat: no-repeat;
}
#mensaje {
		background-image: url(

http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 40px;
	background-repeat: no-repeat;
}
.piepagina {
	background-color: #192951;
	height: 60px;
}
.piepagina p {
	color: white;
	padding: 20px 30px;
}

